{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "eslint-plugin-prettier"
  ],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "no-unused-vars": [
          2,
          {
            "vars": "all",
            "args": "after-used"
          }
        ],
        "indent": [
          2,
          2,
          {
            "SwitchCase": 1
          }
        ]
      }
    ],
    "arrow-parens": [
      "error",
      "always"
    ]
  }
}