.main_container {
  width: 100%;
  background: var(--black);
  position: sticky;
  color: var(--white);
  padding: 10px 0;
  top: 0;
  z-index: 999;
}

.container {
  width: var(--width);
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping_logo {
  width: 40px;
  height: 40px;
}

.menu {
  width: 15rem;
  align-items: center;
}

.menu_items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu_item {
  list-style: none;
  width: auto;
  height: auto;
}

.menu_item>button {
  color: var(--white);
  font-size: 1.25rem;
  transition: background, 0.15s;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}

.menu_item>button:hover {
  color: var(--accent);
  font-size: 1.25rem;
}

.cart_badge {
  background: var(--accent);
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 25px;
  min-height: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 50%;
}